/audio
/audio_cutter.py
/csv
/generate_csv.py
/generate_midi.py
/generate_spec.py
/labels
/main.py
/midi
/models
/model_training.py
/old
/precidtion.py
/spectrograms
/spectrograms_2048
/spec_test.py
/spec_visualization.py
/threshold_test.py
/tmp